@import './queries.less';
@import './reset.less';


// Colors

// skin transition
@skin0: #CF6736;
@skin1: #E88D5A;
@skin2: #F1A976;
@skin3: #FCCF99;

// Pink Transition
@pink0: #D53860;
@pink1: #D8675E;
@pink2: #F0678C;

// Grayscale
@gray0: #1C1C1C;
@gray1: #E3E2C8;
@gray2: #FEFFEC;

// Blue Transition
@blue0: #2B383D;
@blue1: #25555F;
@blue2: #297181;
@blue3: #328D90;

// Reds
@red0: #AA1C1C;
@red1: #C62920;


@font-face {
    font-family: "GibbyOpti-ExtraBold";
    src: url("../fonts/GibbyOpti-ExtraBold.ttf") format("truetype"),
    url("../fonts/GibbyOpti-ExtraBold.woff") format("woff"),
    url("../fonts/GibbyOpti-ExtraBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.logoFont {
    font-family: 'GibbyOpti-ExtraBold';
}

.gradient1 {
    background-image:
            linear-gradient(90deg, @gray0, @gray0),
            linear-gradient(90deg, @skin3, @skin3),
            linear-gradient(90deg, @skin2, @skin2),
            linear-gradient(90deg, @skin1, @skin1),
            linear-gradient(90deg, @skin0, @skin0),
            linear-gradient(90deg, @gray0, @gray0);
    background-size:
            100vw 1vh;
    background-position:
            59.375vw 0,
            34.375vw 0,
            18.75vw 0,
            9.375vw 0,
            3.125vw 0,
            0vw 0;
    background-repeat:
            repeat-y;
}

.gradient2 {
    background-image:
            linear-gradient(90deg, @gray2, @gray2),
            linear-gradient(90deg, @blue3, @blue3),
            linear-gradient(90deg, @blue2, @blue2),
            linear-gradient(90deg, @blue1, @blue1),
            linear-gradient(90deg, @blue0, @blue0),
            linear-gradient(90deg, @gray0, @gray0);
    background-size:
            100vw 1vh;
    background-position:
            59.375vw 0,
            34.375vw 0,
            18.75vw 0,
            9.375vw 0,
            3.125vw 0,
            0vw 0;
    background-repeat:
            repeat-y;
}

body {
    font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
    .gradient2;
}



.sectionIntro {
    display: flex;

    @media @da_baseline {
        flex-direction: column;
    }

    @media @da_small {
        flex-direction: column;
    }

    @media @da_medium {
        flex-direction: row-reverse;
        align-items: center;
        min-height: 100vh;
    }
}

.videoContainer {
    display: flex;
    align-items: center;

    @media @da_baseline {
        width: 100%
    }

    @media @da_small {
        width: 100%
    }

    @media @da_medium {
        width: 50%;
        height: 100%;
    }
}

.videoThumbnail {
    background-color: @skin0;
    position: relative;
    cursor: pointer;

    @media @da_baseline {
        width: 80vw;
        height: 60vw;
        margin-left: 10vw;
    }

    @media @da_small {
        width: 80vw;
        height: 60vw;
        margin-left: 10vw;
    }

    @media @da_medium {
        width: 32vw;
        height: 24vw;
        margin-left: 11vw;
    }

    &:hover .playButtonIcon {
        opacity: 0.85;
    }
}

.videoPlayButton {
    position: absolute;
    width: 25%;
    height: 33.333%;
    top: 33.333%;
    left: 37.5%;
}

.playButtonIcon {
    opacity: 0.7;
}

.titleContainer {
    display: flex;
    align-items: center;

    @media @da_baseline {
        width: 100%;
        justify-content: center;
    }

    @media @da_small {
        width: 100%;
        justify-content: center;
    }

    @media @da_medium {
        width: 50%;
        height: 100%;
        justify-content: flex-start;
    }
}

.introTitle {
    .logoFont;
    color: @pink2;


    @media @da_baseline {
        font-size: 15vw;
        line-height: 20vw;
        text-align: center;
    }

    @media @da_small {
        font-size: 15vw;
        line-height: 20vw;
        text-align: center;
    }

    @media @da_medium {
        font-size: 8vw;
        line-height: 8vw;
    }
}
